#editor {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;

    #defaultCanvas1 {
        display: none;
    }
    aside {
        width: 100%;
        max-width: 200px;
        border-right: 1px solid #F5F5F5;
        padding: 20px 20px 20px;
        overflow: auto;
        > div {
            margin-bottom: 20px;
        }
        .logo {
            position: relative;
            margin-bottom: 32px;
        }
        label {
            font-size: 14px;
            font-weight: bold;
            &.inputName{
                margin: 16px 0 8px 0;
                display: block;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        input {
            width: 100%;
            &[type=text] {
                border: 1px solid #ccc;
                padding: 10px;
                border-radius: 4px;
                width: -webkit-fill-available;
                width: -moz-available;
            }
        }
    }
    .bookeditor {
        width: calc(100% - 200px);
        background: #FCFBF9;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        #editorbook{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            canvas {
                //transform: scale(80%);
                box-shadow: 0 4px 4px 2px rgb(0 0 0 / 10%);
                max-height: 70vh;
            }
        }
        .stepper {
            border-bottom: 1px solid #F5F5F5;
            background-color: #fff;
            padding: 15px;
            ul {
                position: relative;
                list-style: none;
                display: flex;
                justify-content: space-between;
                width: 90%;
                &:after {
                    content: '';
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 1px;
                    background: #000;
                }
                li {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: -4px;
                        left: 0;
                        background: #000;
                        border-radius: 5em;
                        z-index: 10;
                    }
                    &.active{
                        &:after {
                            background: #f28d66;
                        } 
                        span{
                            color: #f28d66;
                        }
                    }
                    a {
                        span{
                            display: block;
                            margin-top: -18px;
                            font-size: 10px;
                            text-transform: uppercase;
                            font-weight: bold;
                            position: absolute;
                            width: 50px;
                            margin-left: -20px;
                            text-align: center;
                            color: #000;
                        }
                    }
                }
            }
        }
        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #F5F5F5;
            background-color: #fff;
            padding: 20px 32px;
            max-height: 40px;
        }
    }
}