#covercolor {
    label {
        position: relative;
        span{
            display: none;
        }
        input {
            width: 90px;
            height: 90px;
            position: relative;
            opacity: 0;
        }
    }
    div{
        label{
            position: relative;
            height: 90px;
            width: 90px;
            input {
                cursor: pointer;
            }
            &:has(input[type="radio"]:checked){
                &:after {
                    box-shadow: inset 0px 0px 0px 5px #f28d66;
                }
            }
            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: -76px;
                height: 90px;
                width: 90px;
                opacity: 1;
                border-radius: 10px;
                z-index: -2;
            }
            &:nth-child(1):after
            //[value="original"]:after 
            {
                background: #ffe2a3;
            }
    
            &:nth-child(2):after
            //[value="blue"]:after 
            {
                /*background: #36A9E1;*/
                background: #9ec6e5;
            }
    
            &:nth-child(3):after
            //[value="pink"]:after 
            {
                /* background: #E6007E;*/
                background: #ffa1c3;
            }
    
            &:nth-child(4):after
            //[value="green"]:after 
            {
               /* background: #6B887F; */
                background: #C6BF99;
            }
    
            &:nth-child(5):after
            //[value="red"]:after 
            {
                /*background: #F28D66;*/
                background: #f2b799;
            }
        }
    }
}
