@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../../assets/font/fonts.scss';


html{
    box-sizing: border-box;
    overflow-x: hidden;
    body {
        margin: 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        #root {
            .content{
                width: 100%;
                .container {
                    max-width: 1200px;
                }
            }
        }
    }
}

//BUTTONS
a{
    &.main-button {
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: 2px solid #000;
        background: #000;
        color: #fff;
        border-radius: 5em;
        padding: 8px 24px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        &:hover{
            background: #fff;
            border: 2px solid #000;
            color: #000;
            cursor: pointer;
        } 
    }
    &.line-button {
        transition: all 0.2s ease-in;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0.1em;
        background: #fff;
        color: #000;
        border: 2px solid #000;
        border-radius: 5em;
        padding: 12px 15px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        &:hover{
            background: #000;
            color: #fff;    
            cursor: pointer;
            svg {
                path {
                    stroke: #fff;
                }
            }
        } 
    }
    &.text-button {
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #000;
        border-radius: 5em;
        padding: 10px 24px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        &:hover{
            background: #f5f5f5;
            cursor: pointer;
        } 
    }
}