@font-face {
    font-family: "Superion";
    src: local("Superior"), url("../../assets/font/Superion.otf") format("truetype");
}

@font-face {
    font-family: "SWild";
    src: local("SWild"), url("../../assets/font/somethingwild.otf") format("truetype");
}


@font-face {
    font-family: "Brusio";
    src: local("Brusio"), url("../../assets/font/Brusio.ttf") format("truetype");
}
   
@font-face {
    font-family: "Attractype";
    src: local("Attractype"), url("../../assets/font/Attractype.ttf") format("truetype");
}

