#pageOne{
    textarea {
        max-width: 100%;
        width: 100%;
        resize: none;
        height: auto;
        min-height: 75px;
    }
    .thumbnail{
        max-width: 100%;
        margin-top: 8px;
        border-radius: 8px;
        border: 4px solid #6b887f;
    }
}